body {
    max-width: 1773px;
    width: 100%;
}

body,
input,
select,
button {
  font-family: $defaultFont;
}

.container {
    padding: 0 155px;
    @include mobile {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 40px;
    }
}