/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ## END RESET ##  */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1773px;
  width: 100%;
}

body,
input,
select,
button {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  padding: 0 331px;
}

.main-header {
  background-image: url(../assets/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header .main-header__form {
  padding-top: 264px;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 48px;
}
.main-header .main-header__form .main-header__text .main-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.main-header .main-header__form .main-header__text .main-header__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}
.main-header .main-header__form .main-header__search {
  background-color: #FFFFFF;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.main-header .main-header__form .main-header__search input[type=text] {
  width: 70%;
  padding: 18px 0;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.main-header .main-header__form .main-header__search input[type=text]::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
.main-header .main-header__form .main-header__search input[type=text]:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
.main-header .main-header__form .main-header__search input[type=text]::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
.main-header .main-header__form .main-header__search .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 12px;
  width: 30%;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5474FD;
  border: none;
  padding: 18px 23px;
  border: 2px solid #FFFFFF;
}
.main-header .main-header__form .main-header__search .btn::after {
  content: url(../assets/search.svg);
}
.main-header .main-header__form .main-header__scroll {
  position: relative;
  margin-top: 60px;
}
.main-header .main-header__form .main-header__scroll .scroll-down {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  color: #FFFFFF;
}
.main-header .main-header__form .main-header__scroll .scroll-down::after {
  content: url(../assets/down-arrow.svg);
  position: absolute;
  top: 20px;
  left: 45px;
}
.main-header .main-header__nav {
  background: #5474FD;
  padding: 25px 0;
}
.main-header .main-header__nav .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header__nav .flex-container .right-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-header .main-header__nav .flex-container .right-nav .right-nav__item {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-header .main-header__nav .flex-container .right-nav .right-nav__item a {
  text-decoration: none;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about {
  background-image: url(../assets/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about .flex-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
}
.about .flex-2 .about__content {
  width: 50%;
  padding-top: 212px;
  padding-bottom: 131px;
}
.about .flex-2 .about__content .about__title {
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 50px;
}
.about .flex-2 .about__content .about__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  padding-bottom: 45px;
}
.about .flex-2 .about__content .btn {
  background: #5474FD;
  border: none;
  padding: 18px 23px;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about .flex-2 .about__images {
  width: 45%;
}
.about .flex-2 .about__images img:last-child {
  padding-left: 100px;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */